.c-ajaxList {

}
.c-ajaxList__pagination {
  margin: 20px;
  text-align: center;
}

.c-ajaxListItem {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  margin-top: -1px;
}
.c-ajaxListItem__method {
  margin: 0 5px;
}
